@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.master {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover !important;
    background: url(red.jpg) no-repeat center center scroll;
    font-family: 'Nunito', sans-serif;
    position: fixed;
}

h1 {
    font-style: normal;
    font-weight: bold;
    color: #f8d405;
    font-size: 8.5vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 10px 3px 3px rgba(8, 8, 8, 0.877);
    margin-bottom: 50px; 
    margin-top: 0;
}

button {
    background-color: black;
    color: whitesmoke;
    border: none;
    padding: 10px 25px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgb(248, 183, 3);
}

button:hover {
    background-color: rebeccapurple;    
    cursor: pointer;
    color: black;
}

#modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    background-color: burlywood;
    width: 85%;
    max-width: 700px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px black;
    font-size: 4vmin;
    visibility: hidden;
}

#modal button {
    font-size: 0.6em;
    margin-top: 30px;
}

#modal h2 {
    color: rgb(184, 12, 12);
    text-decoration: underline;
    margin-bottom: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-size: 1.8em;
}




